@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel.carousel .control-dots .dot {
  width: 0.75rem;
  height: 0.75rem;
  transition: 300ms width;
}

.carousel.carousel .control-dots .dot.selected {
  width: 2rem;
  border-radius: 1rem;
}